
@{
    ViewBag.Title = "Index";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="~/Content/assets/vendor/animate/animate.css">

        <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css">

        <link rel="stylesheet" href="~/Content/assets/css/maicons.css">

        <link rel="stylesheet" href="~/Content/assets/vendor/owl-carousel/css/owl.carousel.css">

        <link rel="stylesheet" href="~/Content/assets/css/theme.css">
        <title></title>
    </head>
    <body>
    </body>
    </html>

